<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <hr>
            <!-- <div><%= err.statusCode %></div> -->
            <% if(process.env.NODE_env !== "production") {%>
                <div class="mb-0"><%= err.stack %></div>
            <% } %>
        </div>
    </div>
</div>